body{
  background-color: #012245;
  font-family: OCR A Std, monospace
}

h1{
color: #fcde72 ;
background: black
color; blue;


}

h2{
color: #86d9cf;



}
p{
text-align: center ;
color: #47a32e;

	
}
li{;
color: #999036;	

	
	
}

ul{;
text-align: left ;
color: #eefc6f;	

	
	
}
ul2{;
text-align: center ;
color: #999036;	

	
	
}

